<!DOCTYPE html>
<html lang="en">

<head>
    <title>
        HSBC
    </title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta charset="UTF-8">
    <link rel="icon" type="image/png" href="images/hsbc.png">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Start - Tealium iQ(sync.js) -->
    <script src="//tags.tiqcdn.com/utag/hsbc/in-rbwm/prod/utag.sync.js">
    </script>
    <!-- End - Tealium iQ(sync.js) -->
    <script type="text/javascript">
        // var ua = window.navigator.userAgent;
        // var isIE = ua.indexOf('MSIE') > 0 || ua.indexOf('Trident') > 0;

        // if (!(isIE && !(ua.indexOf('MSIE') === -1 && ua.indexOf('Trident') > 0))) { //less than IE 11
        //     window.location.href = "/#!/app";
        // }
    </script>

</head>

<body style="margin:0px;">
    <!-- Start - Tealium iQ(utag.js) -->
    <script type="text/javascript">
        var utag_data = {
            // site_type: "single_page",
            page_language: "en",
            page_security_level: 0,
            page_business_line: "RBWM",
            page_customer_group: "retail",
            page_category: "credit cards",
            page_subcategory: "Credit Card",
            product_id: "VPC",
            product_category: "Credit Cards",
            product_subcategory: "HSBC Platinum Credit Card",
            page_name: "pws:credit cards:application:error:unsupported browser",
            page_url: "/credit_card/error/unsupported_browser",
            page_type: "error",
            event_category: "error",
            event_action: "system",
            event_content: "unsupported browser"
        };    
    </script>
    <script type="text/javascript">
        (function (a, b, c, d, e) {
            b = document;
            e = b.domain == ('www.accountopening.hsbc.co.in') ? 'prod' : 'dev';
            a = '//tags.tiqcdn.com/utag/hsbc/in-rbwm/' + e + '/utag.js';
            c = 'script';
            d = b.createElement(c);
            d.src = a;
            d.type = 'text/java' + c;
            d.async = true;
            a = b.getElementsByTagName(c)[0];
            a.parentNode.insertBefore(d, a);
        })();    
    </script>
    <!-- End - Tealium iQ(utag.js) -->
    <div class="header" style="display: block;
    height: 50px;
    width: 100%;
    background-color:#253038;
    color: white;
    padding-top: 1.25em;
    ">
        <div style="width:95%;margin: 0 auto">
            <div class="header-logo pull-left">
                <img src="../images/HSBC_Logo.png" alt="HSBC Logo" />
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
    <div class="content" style="padding-top: 1.25em;margin: 0 auto;width:95%; font-size: 1.5em;">
        You may be using a browser that is not supported. For a better experience, please update to the latest version
        of your browser
        or use a different browser.
    </div>

    <footer>
        <div class="application-footer text-center" style="background-color: #000000;
    color: #FFFFFF;
    padding: 1.25em 0;
    font-size: 0.75em;
    text-align:center;
    width: 100%;
    position:fixed;
    bottom:0px;">&copy; Copyright. HSBC Bank (India) Limited (Company Registration No. 201420624K) 2018
        </div>
    </footer>
</body>

</html>